@font-face {
    font-family: '悄悄喜欢你';
    src: url("../fonts/悄悄喜欢你.ttf") format("truetype");
}
@font-face {    
    font-family: '小可奶酪体';
    src: url("../fonts/小可奶酪体.ttf") format("truetype");
}
body{
    font-family: "悄悄喜欢你";
}
.login{
    text-align: center;
}
a{
    text-decoration: none;;
}
.loginall{
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    width: 300px;
    height: 300px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}