.tools{
    text-align: center;
}
.tools-cut-off{
    width: 400px;
}
.tools-tool{
    color: aqua;
    text-align: center;
}
#tools-tool-content{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;    
}
.images1{
    width: 100px; /* 工具图标宽度 */
    height: 100px; /* 工具图标高度 */
    text-align: center;
    vertical-align: middle;
}
#tools-tool-advanced-calculator,#tools-tool-unit-conversion,#tools-tool-AI-marking{
    width: 150px;
    height: 225px;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: aqua;
    background-color: rgba(255, 255, 255, 0.5);
}